/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2015, 11:12:32 AM
    Author     : caner
*/

body,html{
 

  height: 100%;
  background-color: #908c96;
 
}
#header{
    height: 1200px;
    background-image: url(images/background_v7.png);
}
#row_container_1{
    margin-top: -850px;
}
span{
    float: bottom;
}
.btn-info.active {
            background-color: black;
    }
    
    .row-no-padding {
        margin-left: -45px;
        margin-top: 5px;
      
  }
  .box-shadow--16dp {
    box-shadow: 13px 20px 163px 32px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.carousel_Extra{
    background-image: url(images/background_slider.png);
    height: 300px;
}
.carousel-inner-Extra{
    border-radius: 50px;
    
}
.item_Extra{
    margin-top: 15px;
}
.seperator{
    height: 3px; width: 100%; margin: 0 auto; margin-top: 35px;  background-image: url(images/background_seperator.png);
}
@media only screen and (min-width: 100px) {
    .deneme{
        position: relative; margin-top: -270px; display: none;
    }
}