/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2015, 11:12:32 AM
    Author     : caner
*/

body,html{
 

  height: 100%;
  background-image: url(images/background_v4.png);
 
}
#header{
    height: 400px;
}
#container_2{
    
    

}
span{
    float: bottom;
}
.btn-info.active {
            background-color: black;
    }
    
    .row-no-padding {
        margin-left: -45px;
        margin-top: 5px;
      
  }
  .box-shadow--16dp {
    box-shadow: 13px 20px 163px 32px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.carousel_Extra{
    background-image: url(images/background_slider.png);
}