/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2015, 11:12:32 AM
    Author     : caner
*/

body,html{
 

  height: 100%;
  //background-color: #908c96;
 
}
#header{
    
    background-image: url(images/background_v7.png);

}
#row_container_1{
    margin-top: 10px;
}
span{
    float: bottom;
}
.btn-info.active {
            background-color: black;
    }
    
    .row-no-padding {
        margin-left: -30px;
        margin-top: 5px;
      
  }
  .box-shadow--16dp {
    box-shadow: 13px 20px 163px 32px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.carousel_Extra{
    background-image: url(images/background_slider.png);
    height: 300px;
}
.carousel-inner-Extra{
    border-radius: 50px;
    
}
.item_Extra{
    margin-top: 15px;
}
.seperator{
    height: 3px; width: 100%; margin: 0 auto; margin-top: 35px;  background-image: url(images/background_seperator.png);
}

#img_serkan
{
 display: none;
}

#img_serkan_trans
{
 display: none;
}

.duyurular{
    background-color: whitesmoke;
    margin-top: 2px;
}

.yonetimuyeler{
    margin-top: 15px;

}
.yonetimuyelerad{
    font-size: medium;
    font-weight: bold;
}
.yonetimresim{
    margin-bottom: 10px;
}

@media only screen and (min-width: 320px) {

    #img_serkan{
        visibility: hidden;
        margin-top: -210px;
    }
    
    #img_serkan_trans{
        visibility: hidden;
        margin-top: -150px;
    }
    
    #duyurular{
    background-color: yellow;    
    }
    
    #bizimleIletisim{
    margin-top: 10px;
    background-color: silver;
    }

    #gpdpLogo{
         width: 320px;
    }
    #gpdpDestek{
        background-color: silver;
        margin-top: 10px;
        box-shadow: 0 0 25px #7d7163;
    }
    
}

@media only screen and (min-width: 720px) {

    #img_serkan{
        visibility: hidden;
        margin-top: -150px;
    }
    
    #img_serkan_trans{
        visibility: hidden;
        margin-top: -150px;
    }
    
    #duyurular{
    background-color: yellow;    
    }
    
    #bizimleIletisim{
    margin-top: 10px;
    background-color: silver;
    }

    #gpdpLogo{
         width: 240px;
    }
    
}

@media only screen and (min-width: 1280px) {

    #img_serkan{
        visibility: visible;
        margin-top: -190px;
    }
    #img_serkan_trans{
        visibility: visible;
        margin-top: -190px;
    }
    #duyurular{
    background-color: yellowgreen;    
    }
    
    #bizimleIletisim{
    margin-top: 10px;
    width: 290px;
    background-color: silver;
    border-radius: 10px;
}
    #gpdpLogo{
         width: 24%;
    }
    
    #gpdpDestek{
        background-color: silver;
        margin-top: 10px;
        width: 290px;
        border-radius: 10px;
    }
}
