/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2015, 11:12:32 AM
    Author     : caner
*/

body,html{
 
  //background-color: yellowgreen;
  height: 100%;
}
#header{
    
}
#container_2{
    margin-top: 25px;
}
span{
    float: bottom;
}